*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
.ap-max{
  // max-width: 1920px;
  max-width: 1440px;
  margin: 0 auto;
}
.ap-header-wrapper{
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 10%), 0 2px 1px -1px rgb(0 0 0 / 5%);
  position: fixed;
  background-color: $white;
  width: 100%;
  z-index: 2;
}
.ap-btn-primary{
  padding: 8px 12px;
  color: #ffffff;
  background-color: $primary-color;
  border-radius: 6px;
}
.ap-link{
  &:hover{
    text-decoration: none;
  }
}
.ap-h1{
  font-size: 28px;
}

// header styles
.ap-header{
  justify-content: space-between;
  height: 80px;
  align-items: center;
  
  .ap-logo{
    img{
      height: 35px;
    }
  }
  .ap-links{
    display: flex;
    list-style: none;
    margin: 0;

    li{
      padding: 0 8px;
      margin: auto 0;
      a{
        color: $secondary-dark;
        text-decoration: none;
        transition: $transition-all-4s;
        display: inline-block;

        &:hover{
          color: $primary-color;
          transition: $transition-all-4s;
        }
      }
      &.ap-btn-primary{
        a{
          padding: 8px 12px;
          color: #ffffff;
          background-color: $primary-color;
          border-radius: 6px;
          transition: $transition-all-4s;

          &:hover{
            background-color: $primary-dark-color;
            transition: $transition-all-4s;
          }
        }
      }
    }
  }
  // media for navbar
  @include breakpoint(md){
    .ap-logo{
      img{
        height: 45px;
      }
    }
  }
}

// footer style
.ap-footer{
  height: 60px;
  background-color: $primary-color;

  .footer-wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    p{
      margin: 0;
    }
  }
}

// contact styles
.ap-contact{
  min-height: 200px;
  background-color: rgba($light-grey, 0.3);
}

// main body
.ap-main{
  height: 100vh;
  min-height: 620px;
  background-color: $white;
  .ap-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .ap-h1{
      font-size: 80px;
      color: $primary-color;
      font-weight: 500;
      margin-bottom: 2rem;
    }

    .ap-p{
      font-size: 24px;
      text-align: center;
      margin-bottom: 3rem;
      color: $secondary-dark;
    }

    .ap-btn-primary{
      padding: 10px 32px;
      font-size: 18px;
      display: inline-block;
    }
  }
}