// header styles
.ap-header{
  justify-content: space-between;
  height: 80px;
  align-items: center;
  
  .ap-logo{
    img{
      height: 35px;
    }
  }
  .ap-links{
    display: flex;
    list-style: none;
    margin: 0;

    li{
      padding: 0 8px;
      margin: auto 0;
      a{
        color: $secondary-dark;
        text-decoration: none;
        transition: $transition-all-4s;
        display: inline-block;

        &:hover{
          color: $primary-color;
          transition: $transition-all-4s;
        }
      }
      &.ap-btn-primary{
        a{
          padding: 8px 12px;
          color: #ffffff;
          background-color: $primary-color;
          border-radius: 6px;
          transition: $transition-all-4s;

          &:hover{
            background-color: $primary-dark-color;
            transition: $transition-all-4s;
          }
        }
      }
    }
  }
  // media for navbar
  @include breakpoint(md){
    .ap-logo{
      img{
        height: 45px;
      }
    }
  }
}

// footer style
.ap-footer{
  height: 60px;
  background-color: $primary-color;

  .footer-wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    p{
      margin: 0;
    }
  }
}

// contact styles
.ap-contact{
  min-height: 200px;
  background-color: $white;
  padding: 4.5rem 0;
}

// main body
.ap-main{
  // main section styles
  .main-overview{
    height: 100vh;
    min-height: 100vh;
    background-color: $white;
    overflow: hidden;
  }

  smart-image{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
  }
  
  .ap-content{
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .ap-h1{
      font-size: 80px;
      color: $primary-color;
      font-weight: 500;
      margin-bottom: 2rem;
    }

    .ap-p{
      font-size: 24px;
      text-align: center;
      margin-bottom: 3rem;
      color: $secondary-dark;
    }

    .ap-btn-primary{
      padding: 10px 32px;
      font-size: 18px;
      display: inline-block;
    }
  }

  // main overview styles
  .ap-about-overview{
    background-color: $dark-white;
    padding: 4rem 0 3rem;

    .ap-content-wrapper{
      max-width: 720px;
      text-align: center;

      .ap-h2{
        text-transform: capitalize;
        font-size: 2.4rem;
        margin-bottom: 1.5rem;
      }
      .ap-p{
        font-size: 16px;
        margin-bottom: 2rem;
      }
    }

    // 
    .ap-content-info{
      box-shadow: 0 0 20px 2px rgb(233 234 235);
      border-radius: 8px;
      padding: 2rem 1rem;
      transition: $transition-all-4s;
      &:hover{
        box-shadow: 0 0 20px 2px rgb(226, 226, 226);
      }
      .d-flex{
        flex-direction: column;
      }
      .ap-info_item{
        width: 100%;
      }
      @include breakpoint(md){
        .d-flex{
          flex-direction: row;
        }
        .ap-info_item{
          width: 20%;
        }
      }
    }
  }
}

// form wrapper
.form-main-wrapper{
  .ap-group-wrapper{
    margin-bottom: 1.4rem;
  }
  .ap-form-group{
    label{
      display: inline-flex;
    }
    input{
      width: 100%;
    }
  }
  // icon
  .ap-icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    img{
      max-width: 25px;
      margin: auto 0;
      height: 100%;
    }
  }
  // contact
  .contact-company-detail{
    .ap-info-label{
      color: $secondary-dark;
    }
    .ap-info-detail{
      margin-bottom: 0;
      cursor: pointer;
      
      a{
        color: $primary-color;
        transition: $transition-all-4s;
        
        &:hover{
          color: $primary-dark-color;
          text-decoration: none;
        }
      }
    }
    .ap-form-group{
      display: flex;
      margin-bottom: 1.5rem;

      &:last-child{
        margin-bottom: 0;
      }
    }
    .ap-info-icon{
      margin-right: 8px;
    }
  }
}