// main theme color
$primary-color: #0087DB;
$primary-light-color: #6dbbeb;
$primary-dark-color: #0B69A5;

$secondary-dark: #333333;

// default color
$white: #ffffff;
$dark-white: #f5f5f5;
$black: #000000;
$grey: #808080;
$light-grey: #c1c1c1;
  
$transition-all-4s: all 0.4s ease-in-out;